<% include header %>
  <h1><img src="<%= user.avatarmedium %>" /> <%= user.personaname %></h1>
  <p>SteamID: <%= user.steamid %></p>
  <p>Registration Date: <%= user.regdate %></p>
<% include footer %>