<% include header %>
  <h1>Welcome to <%= title %></h1>
  <% if (locals.message) { %> <p><%= message %></p> <% } %>
  <!-- Admin Functions -->
  <ul class="unstyled">
    <li>
      <h3>Admin Functions</h1>
      <a href="/admin/updateSchema">Download/Update Schema &amp; Image Icons</a> -NOT WORKING ON HEROKU-(Process intensive, use only when needed)<br />
      <a href="/admin/resizeImages">Resize Image Icons</a> -NOT WORKING ON HEROKU-(Process intensive, use only when needed)
    </li>
  </ul>
  <hr />
  <form action="/admin/addModerator/" method="get">
    <fieldset>
      <h4>Add a Moderator...</h4>
      <label>SteamID:</label>
      <div class="input-append">
        <input type="text" name="steamid" placeholder="Type something..." />
        <button type="submit" class="btn">Submit</button>
      </div>
      <br />
      <span class="help-block">Use a SteamID: i.e: 76561197991291XXX</span>
    </fieldset>
  </form>
  <form action="/admin/addAdmin/" method="get">
    <fieldset>
      <h4>Add an Admin...</h4>
      <label>SteamID:</label>
      <div class="input-append">
        <input type="text" name="steamid" placeholder="Type something..." />
        <button type="submit" class="btn">Submit</button>
      </div>
      <span class="help-block">Use a SteamID: i.e: 76561197991291XXX</span>
    </fieldset>
  </form>
<% include footer %>