<% include header %>
  <h1>Welcome to <%= title %></h1>
  <% if (locals.message) { %> <p><%= message %></p> <% } %>
  <!-- Admin Functions -->
  <ul>
    <li><a href="/admin/updateSchema">Download/Update Schema</a> (Process intensive, use only when needed)</li>
  </ul>
  <form action="/admin/addAdmin/" method="get">
    SteamID(Numbers not vanity): <input type="text" name="steamid" />
    <input type="Submit" />
  </form>
<% include footer %>