<% include header %>
    <% if(bpowner) { %>
      <h1><img src="<%= bpowner.avatarmedium %>" /> <%= bpowner.personaname %>'s Backpack</h1>
    <%} else {%>
      <h1>Loading user's profile.</h1>
    <%}%>
    <% include backpackitems %>
<% include footer %>