<% include header %>
  <h1><%= title %></h1>
  <form action="/trade/create/" method="post">
    <input type="text" name="items" style="display:none;">
    <input type="submit">
  </form>
  <div class="row">
    <div class="span6">
      <% include schemaitems %>
    </div>
    <div class="span6">
      <% include backpackitems %>
    </div>
  </div>
<% include footer %>