<% include header %>
  <h1>Welcome to <%= title %></h1>
  <p>Did I submit my resume to you, and you see this website listed as a sample of skill? Dont't or can't log in? Check out the backpack viewer: 
  <a href="http://www.meta.tf/backpack/76561197991291041">Backpack 1</a><br />
  <a href="http://www.meta.tf/backpack/76561197993753022">Backpack 2</a><br />
  This site is made completely with server-side javascript utilizing Node.js<br />
  If you found us just by browsing, like our facebook page!  <a href="https://www.facebook.com/metatf">Meta.tf facebook page</a><br /><br />
  Some things may not work correctly yet, we'<span style="display:none">'</span>re still in pre-alpha.  Please check back later.
  </p>
<% include footer %>