<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Steam Example - <%= title %></title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> |
			<a href="/auth/steam"><img src="/public/steam_login.png" alt="Login with Steam" /></a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
	</body>
</html>