    <div class="navbar">
      <div class="navbar-inner">
          
            <ul class="nav">
              <a class="brand" href="/">Meta.tf</a>
              <li class="active"><a href="/">Home</a></li>
              <% if (!user) { %>
                <li><a href="/auth/steam"><img src="/static/steam_login.png" alt="Login with Steam" /></a></li>
              <% } else { %>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/backpack/<%= user %>">Your backpack</a></li>
            </ul>
        <% } %>
      </div>
    </div>
    </header>