    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" style="color:#fff;" href="/">Meta<span style="color:orange">.tf</span></a>
          <div class="nav-collapse collapse">
            <ul class="nav nav-tabs">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/">Store</a></li>
              <li><a href="/">Trades</a></li>
            </ul>
            <ul class="nav pull-right">
              <% if (!user) { %>
                <li><a href="/auth/steam"><img src="/static/images/steam_login.png" alt="Login with Steam" /></a></li>
              <% } else { %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="<%= user.avatar %>" /> Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/account">Your Dashboard</a></li>
                    <li><a href="/backpack/<%= user.steamid %>">Your Backpack</a></li>
                    <li><a href="/logout">Log Out</a></li>
                  </ul>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </header>
    <% include bootstrapstart %>