<h1>Team Fortress 2 Schema</h1>
<% if (results.length) { %>
  <p>
    <% for (var i = 31; i < results.length; i++) { %>
      <span><%= results[i].name %> <%= results[i].item_slot %> <br /> <img src="<%= results[i].image_url %>" /> </span>
    <% } %>
  </p>
<% } else { %>
  <p>No results</p>
<% } %>