<div class="row backpackrow">
<h3>All Items:</h3>
<div class="filters">
  <div class="itemsearchfilter" style="margin-left:150px;">
    <label>Filter by name: </label>
    <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
  </div>
</div>
<% if (results.length) { %>
    <% for (var y = 0; y < results.length; y++) { %>
      <% if (results[y].image_url) { %>
      <div class="span2 normal backgroundmodifiers bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
      <% if (results[y] && results[y].flag_cannot_trade) { %> <div class="notrade"></div> <% } %>
      <div class="iteminfo text-center">
        <p class="itemname"><%= results[y].item_name %></p>
        <p class="tooltiptext"><%= results[y].item_type_name %></p>
        <% if (results[y].flag_cannot_trade) { %> <p class="notradetext">Cannot trade</p> <% } %>
        <% if (results[y].equipped !== undefined) { %> <p class="equippedtext">Equipped</p> <% } %>
      </div>
      </div>
      <% } %>
    <% } %>
<% } else { %>
  <p>No results</p>
<% } %>
</div>