/**
* Logo Font
*/

@font-face
{
  font-family: tf2;
  src: url('/static/fonts/TF2.ttf');
}

@font-face
{
  font-family: tf2build;
  src: url('/static/fonts/tf2build.ttf');
}

.brand
{
  font-family: tf2;
  font-size: x-large !important;
}
.show
{
  display:block !important;
}

#nodelogo {
  background-image:url('/static/images/nodejs.png');
  width:130px;
  height:48px;
  background-size:contain;
  display:inline-block;
}

/**
 * ToolTips
 */
.iteminfo { 
  position:absolute;
  display:none;
  padding:5px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.64) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(1%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.64))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.64) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.64) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.64) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.64) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a3000000',GradientType=0 ); /* IE6-8 */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  max-width:370px;
  min-width:150px;
}
/* Item Level */
.iteminfo > p:nth-child(2) { 
  display:inline;
  font-size:small;
}
/* Item Name */
.iteminfo > p:nth-child(1) { 
  margin-bottom:-3px;
}

/**
 * Change mouse cursor when hovering an item
 */
.bpitem:hover {
  cursor:pointer;
}

/**
* Item quality classes
*/
/* notrade is for image on item, notrade text is for tooltip text */
.notrade {
  position:absolute;
  background-image: url('/static/images/notrade.png');
  min-width:15px;
  min-height:15px;
  margin-left:68px;
  margin-top:2px;
}
.notradetext {
  margin-bottom:-3px;
  font-size:small;
  color:#f00;
}
.equippedtext {
  font-size:small;
  margin-bottom:-3px;
  color:#999;
}
.normal {
  border:3px solid rgb(100, 100, 100);
  background-color: rgb(178, 178, 178);
  background-color: rgba(178, 178, 178, .3);
}
.normal:hover {
  background-color: rgba(178, 178, 178, .5);
}
.unique {
  border:3px solid rgb(255, 215, 0);
  background-color:rgb(255, 215, 0);
  background-color:rgba(255, 215, 0, .4);
}
.unique:hover {
  background-color:rgba(255, 215, 0, .55);
}
.unusual {
  border:3px solid rgb(134, 80, 172);
  background-color:rgb(134, 80, 172);
  background-color:rgba(134, 80, 172, .4);
}
.unusual:hover {
  background-color:rgba(134, 80, 172, .6);
}
.genuine {
  border:3px solid rgb(77, 116, 85);
  background-color:rgb(77, 116, 85);
  background-color:rgba(77, 116, 85, .4);
}
.genuine:hover {
  background-color:rgba(77, 116, 85, .8);
}
.community {
  border:3px solid rgb(112, 176, 74);
  background-color:rgb(112, 176, 74);
  background-color:rgba(112, 176, 74, .4);
}
.community:hover {
  background-color:rgba(112, 176, 74, .8);
}
.strange {
  border:3px solid rgb(207, 106, 50);
  background-color:rgb(207, 106, 50);
  background-color:rgba(207, 106, 50, .4);
}
.strange:hover {
  background-color:rgba(207, 106, 50, .7);
}
.haunted {
  border:3px solid rgb(56, 243, 171);
  background-color:rgb(56, 243, 171);
  background-color:rgba(56, 243, 171, .4);
}
.haunted:hover {
  background-color:rgba(56, 243, 171, .5);
}
.selfmade {
  border:3px solid rgb(112, 176, 74);
  background-color:rgb(112, 176, 74);
  background-color:rgba(112, 176, 74, .4);
}
.selfmade:hover {
  background-color:rgba(112, 176, 74, .6);
}
.vintage {
  border:3px solid rgb(71, 98, 145);
  background-color:rgb(71, 98, 145);
  background-color:rgba(71, 98, 145, .4);
}
.vintage:hover {
  background-color:rgba(71, 98, 145, .8);
}
.valve {
  border:3px solid rgb(165, 15, 121);
  background-color:rgb(165, 15, 121);
  background-color:rgba(165, 15, 121, .4);
}
.valve:hover {
  background-color:rgba(165, 15, 121, .6);
}

/* Fonts and such */
.normalfont {
  color: rgb(178, 178, 178);
}
.uniquefont {
  color:rgb(255, 215, 0);
}
.unusualfont {
  color:rgb(134, 80, 172);
}
.genuinefont {
  color:rgb(77, 116, 85);
}
.communityfont {
  color:rgb(112, 176, 74);
}
.strangefont {
  color:rgb(207, 106, 50);
}
.hauntedfont {
  color:rgb(56, 243, 171);
}
.selfmadefont {
  color:rgb(112, 176, 74);
}
.vintagefont {
  color:rgb(71, 98, 145);
}
.valvefont {
  color:rgb(165, 15, 121);
}
.itemname {
  text-align:center;
  font-size:x-large;
  font-weight:bolder;
  font-family: tf2build;
}

.backgroundmodifiers {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 12px;
  width: 85px !important;
  height: 85px !important;
  margin-left: 10px !important;
}
.backpackrow {
  width:1024px !important;
  margin-left:20px !important;
}
.newitem {
  margin-bottom:20px;
}
/**
 * Navbar
 */
#navbarName {
  color: #79ac35;
}